# Configuración MySQL
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=db_browser
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbpassword
MYSQL_PORT=3306

# Configuración MongoDB
MONGODB_ROOT_USER=admin
MONGODB_ROOT_PASSWORD=adminpassword
MONGODB_DATABASE=db_browser
MONGODB_PORT=27017

# Configuración Mongo Express (Administrador web para MongoDB)
MONGO_EXPRESS_USER=admin
MONGO_EXPRESS_PASSWORD=admin
MONGO_EXPRESS_PORT=8081

# Configuración Apache
APACHE_PORT=8080


